*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 1) 0%, rgba(103, 109, 127, 1) 100%);
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: transparent;
    border: 1px solid;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
    backdrop-filter: blur(100px);
}

.searchBox {
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox input {
    border-radius: 30px;
    text-align: center;
    color: black;
    width: 80%;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 20px;
}

.searchBox input::placeholder {
    font-size: 2rem;
    font-weight: 500;
    color: grey;
    text-transform: capitalize;
}

.searchBox button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: black;
    background: transparent;
    border: 2px solid;
    border-radius: 50px;
    font-size: 20px;
}

.searchBox button:hover {
    background-color: lightgray;
    border: none;
    scale: 1.1;
}

.weatherBox {
    text-align: center;
}

.weatherBox img {
    width: 60%;
    margin-top: 30px;
}

.weatherBox .temp {
    position: relative;
    color: black;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weatherBox .temp span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weatherBox .description {
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weatherDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weatherDetails .humidity .weatherDetails .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;

} 

.weatherDetails .wind {
    padding-left: 20px;
    justify-content: flex-start;
}

.weatherDetails .humidity {
    padding-right: 20px;
    justify-content: flex-end;
}

.weatherDetails span {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.weatherDetails p {
    color: black;
    font-size: 14px;
    font-weight: 500;
}


.weatherBox, .weatherDetails {
    scale: 0;
    opacity: 0;
}

.weatherHours {
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}

.hoursItem {
    font-weight: 600;
    display: flex;
    display: inline-block;
    text-align: center;
}

#hourlyForecast {
    margin-top: 50px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourlyItem {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.hourlyItem img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#hourlyHeading {
    color: #fff;
    margin-top: 10px;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}