<div class="navbar">
    <div class="logo"><a href="#">Mac Automotive</a></div>
    <ul class="links">
        <li><a href="#" class="mainbar">Home</a></li>
        <li><a href="about" class="mainbar">About</a></li>
        <li><a href="auction" class="mainbar">Auction</a></li>
        <li><a href="collection" class="mainbar">Collection</a></li>
        <li><a href="sell" class="mainbar">Sell Your Car</a></li>
    </ul>
    <a href="./pages/register.html" class="action_btn">Get Started</a>
    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>